<div id="mywidget">
  <input type="text" id="myTextInput" />
</div>
<script type="text/javascript">
  JFCustomWidget.subscribe("ready", function (msg) {
    console.log("ready message arrived from JotForm", msg);
    var charLimit = parseInt(JFCustomWidget.getWidgetSetting("charLimit"));
    var myTextInput = document.getElementById("myTextInput");
    myTextInput ? (myTextInput.maxLength = charLimit) : "";

    JFCustomWidget.subscribe("submit", function () {
      var data = {
        valid: true,
        value: myTextInput.value,
      };

      JFCustomWidget.sendSubmit(data);
    });
  });
</script>
